/*==== Background Slider ====*/
.bg-slider-outer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width:100vw;
    .item {
        height: 100vh;
        position: relative;
        &::before,&::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-size: cover;
        }

        &::before {
            z-index: 1;
            background-image:url('../img/slider-overlay-0.png');
        }

        &::after {
            z-index: 2;
            background-image:url('../img/slider-overlay.png');
        }
    }
}
