/*==== Login ====*/
.login-page {
    background: url('../img/login-bg-2.jpg') center;
    background-size: cover;
    .login-block {
        @include medium(up) {margin-#{$directionReverse}:15%;}
    }
}

.login-block {
    .content-box {
        // border:1px solid rgba(#000,0.1);
        border-radius: 10px;
        padding:30px;
        background: linear-gradient(rgba(#FFF,1),rgba(#FFF,0.97));
        box-shadow: 0 0 50px rgba(#000,0.2);
        // border-top:5px solid var(--gray-color);
        .icon {
            display: block;
            margin: auto;
            text-align: center;
            width:100px;
            height: 100px;
            line-height: 100px;
            border-radius: 50%;
            border:3px solid var(--primary-color);
            background-color: #fff;
            margin-bottom: 15px;
            img{max-width: 90%;max-height: 75px;}
        }

        a{color: inherit;}
    }
}
